@tailwind base;
@tailwind components;
@tailwind utilities;

.inner {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(0deg, rgba(43, 78, 124, 0.8), rgba(43, 78, 124, 0.8)), url('/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
